<nav class="navbar navbar-default">
	<%= link_to "StockTrack", root_path, class: 'navbar-brand' %>
	<ul class="nav navbar-nav pull-right">
	<% if user_signed_in? %>
		<li><%= link_to "My Portfolio", my_portfolio_path %></li>
		<li><%= link_to "Edit Account", edit_user_registration_path%></li>
		<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	<% end %>
</nav>